html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white;
  font-family: Ubuntu; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

button {
  cursor: pointer; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu.ttf); }

@font-face {
  font-family: FiraSansM;
  src: url(../fonts/FiraSans-Medium.ttf); }

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Regular.ttf); }

.toggle-mnu {
  display: block;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 40px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

.main-mnu {
  display: none;
  float: right;
  width: 100%;
  text-align: right;
  background-color: rgba(0, 46, 71, 0.92);
  position: absolute;
  top: 78px;
  right: 0;
  height: auto;
  z-index: 10;
  margin-top: 0;
  padding: 40px 25px; }
  .main-mnu:after {
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    right: 46px;
    width: 20px;
    height: 9px;
    background: url("../img/triangle.png") no-repeat 0 0; }
  .main-mnu .active a {
    color: #ffcc99; }
  .main-mnu li {
    width: 206px;
    float: left;
    margin: 0;
    text-align: left;
    list-style: square inside;
    margin-bottom: 13px;
    color: #8caec0;
    font-size: 25px; }
    .main-mnu li:nth-child(odd) {
      margin-right: 18px; }
  .main-mnu a {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    color: #FFF;
    -webkit-border-radius: 0;
            border-radius: 0;
    border: none;
    text-align: left;
    color: #baeaff; }
    .main-mnu a:hover {
      color: #ffcc99; }
  .main-mnu a:hover, .main-mnu li.active a {
    border: none; }

.wrapper {
  width: 480px;
  margin: auto;
  padding-top: 35px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid #000; }

.nopadding {
  padding: 0 !important; }

.top {
  padding-bottom: 30px;
  overflow: hidden; }

.col-mnu {
  position: relative; }

.toggle-mnu-wrap {
  position: absolute;
  top: 0;
  right: 0; }

.logo {
  display: block;
  margin: auto;
  width: 148px;
  height: 129px; }

.toggle-mnu {
  width: 56px;
  height: 56px;
  border: 2px solid #002E47;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .toggle-mnu span {
    margin-top: 25px;
    width: 32px;
    margin-left: 10px;
    height: 3px;
    background-color: #002E47; }
    .toggle-mnu span:after {
      height: 3px;
      background-color: #002E47; }
    .toggle-mnu span:before {
      height: 3px;
      background-color: #002E47; }

.toggle-mnu.on span {
  margin-left: 11px;
  margin-top: 27px; }

.top-phone {
  text-align: center;
  color: #002e47;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 400;
  margin-top: 18px; }

.top-adress {
  color: #848484;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 15px; }

.top-ord-call {
  text-align: center;
  margin-top: 17px; }
  .top-ord-call a {
    color: #232323;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    text-align: center; }

.write-to-chool {
  text-align: center;
  margin-top: 15px; }
  .write-to-chool button {
    width: 211px;
    height: 46px;
    background-color: #ffb81a;
    border: none;
    color: #292929;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    margin: auto; }

.top-banner {
  position: relative; }

.top-banner-text {
  width: 332px;
  height: 180px;
  opacity: 0.85;
  background-color: white;
  margin: auto;
  position: absolute;
  left: -webkit-calc(50% - 166px);
  left: calc(50% - 166px);
  top: 174px;
  text-align: center;
  padding: 25px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .top-banner-text:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: block;
    width: 332px;
    height: 6px;
    background-color: #ffb81a;
    background-image: -webkit-gradient(linear, right top, left top, from(#fe6c01), to(#f1ed33));
    background-image: -webkit-linear-gradient(right, #fe6c01 0%, #f1ed33 100%);
    background-image: linear-gradient(to left, #fe6c01 0%, #f1ed33 100%); }
  .top-banner-text p {
    color: #292929;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px; }
    .top-banner-text p span {
      color: #252525;
      font-family: FiraSansM;
      font-size: 21px;
      line-height: 1.5; }

.about {
  padding: 45px 20px 25px 20px;
  color: #252525;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 25px; }
  .about p {
    line-height: 2.2;
    text-align: center; }
  .about h2 {
    color: #252525;
    font-family: FiraSansM;
    font-size: 21px;
    margin-bottom: 25px;
    text-align: center; }

.about-text {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 675px; }
  .about-text:after {
    content: "";
    display: block;
    width: 480px;
    height: 96px;
    bottom: 0;
    left: 0;
    position: absolute;
    background: url("../img/about-bot-bg.png") no-repeat bottom left; }

.ha {
  height: auto !important; }
  .ha:after {
    background: none !important; }

.about-text-read-more {
  margin: auto;
  width: 425px;
  height: 39px;
  background-color: #ffb81a;
  color: #252525;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  border: none; }

.programm {
  overflow: hidden;
  background: url("../img/bg-progr.jpg") no-repeat 0 0;
  min-height: 818px;
  padding: 50px 35px; }
  .programm h2 {
    color: white;
    font-family: FiraSansM;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px; }

.gb-ru {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .gb-ru > div {
    display: inline-block;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .gb-ru > div span {
      color: white;
      font-family: FiraSansM;
      font-size: 16px;
      line-height: 1.3;
      text-transform: uppercase;
      margin-top: 28px;
      display: block; }
    .gb-ru > div:first-child img {
      margin-left: -22px; }
  .gb-ru .plus {
    width: 30px; }
    .gb-ru .plus span {
      color: rgba(255, 255, 255, 0.85);
      font-size: 53px;
      margin-top: 0;
      font-family: FiraSans; }

.equally {
  width: 100%;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 20px; }
  .equally span {
    color: rgba(255, 255, 255, 0.85);
    font-size: 53px;
    margin-top: 0;
    font-family: FiraSans;
    text-align: center; }

.ru, .gb {
  width: 186px; }

.logo2-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top; }
  .logo2-list div {
    width: 230px; }
    .logo2-list div:first-child {
      margin-right: 25px;
      width: 154px; }
  .logo2-list li {
    color: white;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 18px;
    position: relative;
    line-height: 1.5; }
    .logo2-list li:before {
      position: absolute;
      left: 0;
      top: 8px;
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: #b1b1b1; }

.educators .outer {
  background: #fff none repeat scroll 0 0;
  border-color: transparent;
  -webkit-border-image: -webkit-gradient(linear, left top, right bottom, from(#f1ee34), to(#ff6900)) 1 1 1 1;
  -webkit-border-image: -webkit-linear-gradient(left top, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
       -o-border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
          border-image: -webkit-gradient(linear, left top, right bottom, from(#f1ee34), to(#ff6900)) 1 1 1 1;
          border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
  border-style: solid;
  border-width: 5px;
  -webkit-box-shadow: 0 -5px 16px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0 -5px 16px 5px rgba(0, 0, 0, 0.19);
  margin: -42px auto 0 auto;
  padding: 5px 3px;
  position: relative;
  width: 409px; }

.educators .inner {
  background: #fff none repeat scroll 0 0;
  border-color: transparent;
  -webkit-border-image: -webkit-gradient(linear, left top, right bottom, from(#f1ee34), to(#ff6900)) 1 1 1 1;
  -webkit-border-image: -webkit-linear-gradient(left top, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
       -o-border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
          border-image: -webkit-gradient(linear, left top, right bottom, from(#f1ee34), to(#ff6900)) 1 1 1 1;
          border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
  border-style: solid;
  border-width: 2px;
  color: #000;
  height: 153px;
  padding: 19px 7px;
  position: relative;
  width: 100%; }

.educators-text {
  color: black;
  font-family: FiraSansM;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px; }

.educators label {
  width: 50%;
  float: left;
  color: #505050;
  font-family: FiraSansM;
  font-size: 17px;
  line-height: 1.1;
  text-transform: uppercase;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 8px;
  padding-top: 5px; }

.mobile-content h2 {
  color: black;
  font-family: FiraSansM;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 34px 0 21px 0; }

.educators-controls {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .educators-controls input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 46px;
    height: 46px;
    background-color: white;
    border: 1px solid lightgrey;
    -webkit-box-shadow: inset 2.5px 4.3px 5px rgba(0, 0, 0, 0.15);
            box-shadow: inset 2.5px 4.3px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    float: left;
    margin-right: 10px; }
  .educators-controls button {
    color: #505050;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    width: 125px;
    height: 46px;
    background-color: #ffb81a;
    border: none;
    float: left; }

.all-quest {
  margin-bottom: 38px;
  overflow: hidden; }

.our-eductors ul {
  display: block;
  text-align: center; }

.our-eductors li {
  display: inline-block;
  margin: 0 6px;
  line-height: 1.4; }
  .our-eductors li:first-child {
    margin-right: 0; }
  .our-eductors li:first-child:before {
    content: "";
    display: block;
    text-decoration: none;
    width: 1px;
    height: 26px;
    background: url("../img/separ.png") no-repeat 0 0;
    float: right;
    margin-left: 12px; }

.eductors-all {
  color: #999999;
  font-family: FiraSansM;
  font-size: 18px;
  text-decoration: underline;
  text-transform: uppercase;
  background: url("../img/all-edu.png") no-repeat left center;
  padding-left: 15px; }

.eductors-quest {
  color: #579fc5;
  font-family: FiraSansM;
  font-size: 18px;
  text-decoration: underline;
  text-transform: uppercase; }

.separ-hor, .slider1:after, .slider2:after, .dreams:after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, right bottom, from(#f1ee34), to(#ff6900)) 1 1 1 1;
  -webkit-border-image: -webkit-linear-gradient(left top, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
       -o-border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
          border-image: -webkit-gradient(linear, left top, right bottom, from(#f1ee34), to(#ff6900)) 1 1 1 1;
          border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
  position: absolute;
  bottom: 0;
  left: 0; }

.slider1 {
  width: 100%; }
  .slider1 ul {
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden; }
  .slider1 li {
    display: inline-block;
    width: 182px;
    overflow: hidden;
    margin: 0 10px; }
    .slider1 li:before {
      content: "";
      display: block;
      position: absolute;
      left: 20px;
      top: 82px;
      width: 11px;
      height: 23px;
      background: url("../img/arr-l.png") no-repeat 0 0;
        background-cursor: pointer; }
    .slider1 li:after {
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 82px;
      width: 11px;
      height: 23px;
      background: url("../img/arr-r.png") no-repeat 0 0;
        background-cursor: pointer; }

.slider1 {
  position: relative; }

.slider1-img {
  width: 182px;
  height: 182px;
  overflow: hidden;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  font-size: 0;
  margin-bottom: 25px; }

.slider1-text span {
  color: black;
  font-family: FiraSansM;
  font-size: 18px;
  text-transform: uppercase; }

.slider1-text .dol {
  margin-top: 8px;
  height: 55px;
  color: black;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; }

.slider2 {
  padding-bottom: 30px; }
  .slider2 .slider1-img {
    width: 182px;
    height: 182px;
    padding: 2px;
    border: 2px solid;
    -webkit-border-image: -webkit-gradient(linear, left top, right bottom, from(#f1ee34), to(#ff6900)) 1 1 1 1;
    -webkit-border-image: -webkit-linear-gradient(left top, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
         -o-border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
            border-image: -webkit-gradient(linear, left top, right bottom, from(#f1ee34), to(#ff6900)) 1 1 1 1;
            border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
    overflow: hidden;
    -webkit-border-radius: 0px;
            border-radius: 0px; }
  .slider2 .slider1-text .dol {
    margin-top: 12px;
    height: auto; }

.outer-img {
  width: 182px;
  height: 182px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden; }

.slider2 {
  position: relative; }

.about.dreams {
  overflow: hidden;
  padding-bottom: 40px; }
  .about.dreams h2 {
    margin-top: 0;
    line-height: 1.4; }

.dreams-blocks {
  margin-top: 42px; }
  .dreams-blocks li {
    width: 50%;
    float: left;
    padding: 0 10px;
    margin-bottom: 40px; }
    .dreams-blocks li:nth-last-child(1) {
      margin-bottom: 0; }
    .dreams-blocks li:nth-last-child(2) {
      margin-bottom: 0; }
    .dreams-blocks li a {
      font-family: FiraSans;
      font-size: 18px;
      text-decoration: none; }
    .dreams-blocks li:first-child a {
      color: #33acc4; }
    .dreams-blocks li:nth-child(2) a {
      color: #f66890; }
    .dreams-blocks li:nth-child(3) a {
      color: #fa6900; }
    .dreams-blocks li:nth-child(4) a {
      color: #669900; }
    .dreams-blocks li:nth-child(5) a {
      color: #ff4e50; }
    .dreams-blocks li:nth-child(6) a {
      color: #ff9900; }
    .dreams-blocks li span {
      font-family: FiraSans;
      font-size: 18px;
      line-height: 1.4;
      display: block;
      text-transform: uppercase; }

.dreams {
  position: relative; }

.dreams-name {
  margin-top: 17px; }

.events {
  padding: 0 25px;
  padding-bottom: 40px; }
  .events li {
    margin-bottom: 15px;
    overflow: hidden; }
    .events li:last-child {
      margin-bottom: 0; }

.events-img {
  float: left;
  margin-right: 15px; }
  .events-img a {
    display: block;
    width: 125px;
    height: 125px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    overflow: hidden; }
    .events-img a img {
      border: 4px solid;
      -webkit-border-image: -webkit-gradient(linear, left top, right bottom, from(#f1ee34), to(#ff6900)) 1 1 1 1;
      -webkit-border-image: -webkit-linear-gradient(left top, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
           -o-border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
              border-image: -webkit-gradient(linear, left top, right bottom, from(#f1ee34), to(#ff6900)) 1 1 1 1;
              border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      overflow: hidden; }

.events-title {
  color: #3f3f3f;
  font-family: FiraSans;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom: 1px solid #9f9f9f; }
  .events-title:hover {
    border-bottom: none; }

.events-desc {
  margin-top: 12px;
  color: #858484;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5; }

.events-date, .reviews-date {
  color: #858484;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-top: 10px;
  text-align: center; }

.reviews {
  display: table;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fe903f), to(#f2ed41));
  background-image: -webkit-linear-gradient(bottom, #fe903f 0%, #f2ed41 100%);
  background-image: linear-gradient(to top, #fe903f 0%, #f2ed41 100%);
  overflow: hidden;
  padding: 35px 15px 25px 25px; }
  .reviews li {
    display: table-row;
    margin-bottom: 20px; }
    .reviews li > div {
      padding-bottom: 20px; }
    .reviews li:last-child > div {
      padding-bottom: 0; }
  .reviews h2 {
    margin-top: 0;
    margin-bottom: 30px; }

.reviews-img {
  float: left;
  padding-right: 15px;
  display: table-cell;
  vertical-align: top; }

.reviews-text {
  display: table-cell;
  vertical-align: top; }

.reviews-title {
  border-bottom: none;
  color: #121212;
  font-family: FiraSansM;
  font-size: 21px;
  text-transform: none;
  margin-bottom: 15px; }

.reviews-desc {
  color: #1d1d1d;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5; }

.reviews-date {
  text-align: left; }

.view-other {
  display: block;
  padding: 20px 0;
  background-color: #f4e141;
  color: #121212;
  font-family: FiraSansM;
  font-size: 21px;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  text-align: center; }
  .view-other span {
    height: 28px;
    margin: auto;
    text-align: center;
    line-height: 1.55;
    display: inline-block;
    position: relative;
    border-bottom: 2px solid;
    padding-bottom: 0; }
    .view-other span:hover {
      border-bottom: none; }
    .view-other span:after {
      content: "";
      display: block;
      background: url("../img/view-other.png") no-repeat 0 0;
      height: 33px;
      width: 33px;
      position: absolute;
      left: -40px;
      top: 0; }

.projects {
  padding: 35px 16px 15px 16px;
  overflow: hidden; }
  .projects h2 {
    margin-top: 0; }
  .projects li {
    float: left;
    width: 208px;
    margin: 0 8px;
    margin-bottom: 10px; }
  .projects .proj-link-img {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 0; }
    .projects .proj-link-img img {
      font-size: 0; }
  .projects .proj-title {
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
    z-index: 10;
    color: #060606;
    font-family: FiraSans;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    width: 100px; }
    .projects .proj-title span {
      padding: 3px;
      background-color: #FFF; }

.proj-desc {
  display: block;
  background-color: #f1f1f1;
  color: #212121;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  min-height: 180px; }

.cart {
  position: relative; }

.cart-adress {
  width: 192px;
  min-height: 162px;
  background-color: white;
  padding: 20px 15px;
  top: 80px;
  left: 50px;
  position: absolute;
  color: #060606;
  font-family: FiraSans;
  font-size: 14px; }
  .cart-adress b {
    font-size: 28px;
    font-family: FiraSansM;
    line-height: 1; }
  .cart-adress p {
    margin-bottom: 10px;
    line-height: 1.6; }
    .cart-adress p:last-child {
      margin-bottom: 0; }
  .cart-adress .cart-phone {
    display: block;
    margin-top: 7px; }

.footer > div {
  float: left; }

.button-copy {
  width: 225px; }

.phone-email-links {
  width: -webkit-calc(100% - 225px);
  width: calc(100% - 225px); }

/*input[type=submit]*/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 620px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
