html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

*	
	box-sizing: border-box

\:focus
  outline: 0

body
  line-height: 1
  color: black
  background: white
  font-family: Ubuntu

ol, ul
  list-style: none

table
  border-collapse: separate
  border-spacing: 0

caption, th, td
  text-align: left
  font-weight: normal

blockquote
  &:before, &:after
    content: ""

q
  &:before, &:after
    content: ""

blockquote, q
  quotes: "" ""

button
	cursor: pointer

li 
	list-style: none

ul 
	padding: 0
	margin: 0

@import _fonts
@import _mnu

.main-mnu
  display: none
  float: right
  width: 100%
  text-align: right
  background-color: rgba(0, 46, 71, 0.92) 
  position: absolute
  top: 78px
  right: 0
  height: auto
  z-index: 10
  margin-top: 0
  padding: 40px 25px    
  &:after
    content: "" 
    display: block
    position: absolute
    top: -9px
    right: 46px
    width: 20px
    height: 9px
    background: url("../img/triangle.png") no-repeat 0 0
  ul       
  .active
    a
      color: rgb(255, 204, 153)
  li     
    width: 206px
    float: left    
    margin: 0
    text-align: left
    list-style: square inside
    margin-bottom: 13px
    color: #8caec0
    font-size: 25px 
    &:nth-child(odd)     
      margin-right: 18px
  a 
    font-family: Ubuntu
    font-size: 18px
    font-weight: 400  
    text-decoration: underline
    color: #FFF 
    border-radius: 0
    border: none    
    text-align: left
    color: rgb(186, 234, 255)
    &:hover 
      color: rgb(255, 204, 153)
        
  a:hover, li.active a 
    border: none

.wrapper
  width: 480px 
  margin: auto
  padding-top: 35px
  overflow: hidden  
  box-sizing: border-box
  outline: 1px solid #000  

.nopadding 
  padding: 0 !important

.top
  padding-bottom: 30px
  overflow: hidden

.col-mnu 
  position: relative

.toggle-mnu-wrap
  position: absolute
  top: 0
  right: 0

.logo
  display: block
  margin: auto
  width: 148px
  height: 129px

.toggle-mnu
  width: 56px
  height: 56px
  border: 2px solid #002E47
  border-radius: 100%
  text-align: center
  margin: 0
  padding: 0
  margin-top: 7px
  margin-right: 30px   
  box-sizing: border-box 
  span
    margin-top: 25px
    width: 32px
    margin-left: 10px
    height: 3px
    background-color: #002E47 
    &:after
      height: 3px
      background-color: #002E47 
    &:before
      height: 3px
      background-color: #002E47 
  
.toggle-mnu.on span
  margin-left: 11px;
  margin-top: 27px

.top-phone
  text-align: center
  color: rgb(0, 46, 71)
  font-family: Ubuntu
  font-size: 30px
  font-weight: 400
  margin-top: 18px

.top-adress
  color: rgb(132, 132, 132)
  font-family: Arial
  font-size: 16px
  font-weight: 400
  text-align: center
  margin-top: 15px
  
.top-ord-call 
  text-align: center
  margin-top: 17px 
  a
    color: rgb(35, 35, 35)
    font-family: Arial
    font-size: 16px
    font-weight: 400  
    text-decoration: underline  
    text-align: center

.write-to-chool
  text-align: center
  margin-top: 15px
  button
    width: 211px
    height: 46px
    background-color: rgb(255, 184, 26)
    border: none
    color: rgb(41, 41, 41)
    font-family: Arial
    font-size: 16px
    font-weight: 400
    margin: auto

.top-banner
  position: relative

.top-banner-text
  width: 332px
  height: 180px
  opacity: 0.85
  background-color: white
  margin: auto
  position: absolute
  left: calc(50% - 166px)
  top: 174px
  text-align: center
  padding: 25px 15px
  box-sizing: border-box
  &:after
    position: absolute
    left: 0
    top: 0
    content: ""   
    display: block
    width: 332px
    height: 6px
    background-color: rgb(255, 184, 26)
    background-image: linear-gradient(to left, rgb(254, 108, 1) 0%, rgb(241, 237, 51) 100%)
  p
    color: rgb(41, 41, 41)
    font-family: Arial
    font-size: 16px
    font-weight: 400
    line-height: 1.5
    margin-bottom: 10px
    span
      color: rgb(37, 37, 37)
      font-family: FiraSansM
      font-size: 21px
      line-height: 1.5
      
.about
  padding: 45px 20px 25px 20px
  color: rgb(37, 37, 37)
  font-family: Arial
  font-size: 14px
  font-weight: 400
  text-align: center
  padding-bottom: 25px
  p
    line-height: 2.2
    text-align: center
  h2
    color: rgb(37, 37, 37)
    font-family: FiraSansM
    font-size: 21px    
    margin-bottom: 25px
    text-align: center

.about-text
  text-align: center
  margin-bottom: 20px
  position: relative
  overflow: hidden
  height: 675px
  &:after
    content: "" 
    display: block
    width: 480px
    height: 96px
    bottom: 0
    left: 0
    position: absolute
    background: url("../img/about-bot-bg.png") no-repeat bottom left

.ha
  height: auto !important
  &:after
    background: none !important

.about-text-read-more
  margin: auto
  width: 425px
  height: 39px
  background-color: rgb(255, 184, 26)
  color: rgb(37, 37, 37)
  font-family: Arial
  font-size: 14px
  font-weight: 400
  border: none


.programm
  overflow: hidden
  background: url("../img/bg-progr.jpg") no-repeat 0 0
  min-height: 818px 
  padding: 50px 35px
  h2
    color: white
    font-family: FiraSansM
    font-size: 21px
    text-transform: uppercase
    text-align: center
    margin-bottom: 23px

.gb-ru 
  text-align: center
  display: flex  
  align-items: center
  > div
    display: inline-block
    height: auto   
    box-sizing: border-box    
    span
      color: white
      font-family: FiraSansM
      font-size: 16px      
      line-height: 1.3
      text-transform: uppercase 
      margin-top: 28px 
      display: block
    &:first-child
      img
        margin-left: -22px
  .plus
    width: 30px
    span
      color: rgba(255,255,255,0.85) 
      font-size: 53px
      margin-top: 0
      font-family: FiraSans

.equally
  width: 100%
  text-align: center
  margin-top: 18px
  margin-bottom: 20px
  span
    color: rgba(255,255,255,0.85) 
    font-size: 53px
    margin-top: 0
    font-family: FiraSans
    text-align: center

.ru, .gb
  width: 186px
  
.logo2-list
  display: flex
  align-items: top    
  div    
    width: 230px
    &:first-child
      margin-right: 25px
      width: 154px
  li
    color: white
    font-family: Arial
    font-size: 14px
    font-weight: 400
    margin-bottom: 10px
    padding-left: 18px
    position: relative
    line-height: 1.5
    &:before
      position: absolute
      left: 0
      top: 8px
      content: "" 
      display: block
      width: 8px
      height: 8px
      background-color: rgb(177, 177, 177)

.educators
  .outer    
    background: #fff none repeat scroll 0 0
    border-color: transparent
    border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1
    border-style: solid
    border-width: 5px
    box-shadow: 0 -5px 16px 5px rgba(0, 0, 0, 0.19)
    margin: -42px auto 0 auto
    padding: 5px 3px
    position: relative
    width: 409px    
  .inner
    background: #fff none repeat scroll 0 0
    border-color: transparent
    border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1
    border-style: solid
    border-width: 2px
    color: #000
    height: 153px
    padding: 19px 7px
    position: relative
    width: 100%

.educators-text
  color: black
  font-family: FiraSansM
  font-size: 20px  
  line-height: 1.4
  text-align: center
  text-transform: uppercase
  margin-bottom: 10px

.educators
  label
    width: 50%
    float: left
    color: rgb(80, 80, 80)
    font-family: FiraSansM
    font-size: 17px
    line-height: 1.1
    text-transform: uppercase
    padding-left: 35px    
    box-sizing: border-box
    padding-right: 8px
    padding-top: 5px

.mobile-content
  h2
    color: black
    font-family: FiraSansM
    font-size: 21px    
    text-transform: uppercase
    text-align: center
    margin: 34px 0 21px 0
 
.educators-controls
  width: 50%
  float: left
  box-sizing: border-box  
  input
    box-sizing: border-box
    width: 46px
    height: 46px
    background-color: white
    border: 1px solid lightgrey
    box-shadow: inset 2.5px 4.3px 5px rgba(0, 0, 0, 0.15)
    text-align: center
    float: left
    margin-right: 10px
  button    
    color: rgb(80, 80, 80)
    font-family: Arial
    font-size: 14px
    font-weight: 400
    width: 125px
    height: 46px
    background-color: rgb(255, 184, 26)
    border: none
    float: left

.all-quest
	margin-bottom: 38px
	overflow: hidden
  
.our-eductors
	ul
		display: block
		text-align: center
	li
		display: inline-block
		margin: 0 6px
		line-height: 1.4				
		&:first-child
			margin-right: 0
		&:first-child:before
			content: ""
			display: block
			text-decoration: none
			width: 1px
			height: 26px
			background: url("../img/separ.png") no-repeat 0 0
			float: right
			margin-left: 12px		

.eductors-all
	color: rgb(153, 153, 153)
	font-family: FiraSansM
	font-size: 18px
	text-decoration: underline
	text-transform: uppercase
	background: url("../img/all-edu.png") no-repeat left center
	padding-left: 15px	 
	
.eductors-quest
	color: rgb(87, 159, 197)
	font-family: FiraSansM
	font-size: 18px	
	text-decoration: underline
	text-transform: uppercase	

.separ-hor
  content: "" 
  display: block
  height: 5px
  width: 100%
  border-top: 1px solid 
  border-bottom: 1px solid 
  border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1
  position: absolute
  bottom: 0
  left: 0

.slider1
	width: 100%  
	ul
		display: block
		text-align: center				
		position: relative
		overflow: hidden
	li
		display: inline-block		
		width: 182px		
		overflow: hidden		
		margin: 0 10px
		&:before
			content: "" 
			display: block
			position: absolute
			left: 20px
			top: 82px
			width: 11px
			height: 23px
			background: url("../img/arr-l.png") no-repeat 0 0
      cursor: pointer
		&:after
			content: "" 
			display: block
			position: absolute
			right: 20px
			top: 82px
			width: 11px
			height: 23px
			background: url("../img/arr-r.png") no-repeat 0 0
      cursor: pointer

.slider1
  position: relative
  &:after
    @extend .separ-hor
		
.slider1-img 
	width: 182px
	height: 182px
	overflow: hidden
	border-radius: 100%	
	font-size: 0
	margin-bottom: 25px
	
.slider1-text	
	span
		color: black
		font-family: FiraSansM
		font-size: 18px		
		text-transform: uppercase			
	.dol
		margin-top: 8px	
		height: 55px
		color: black
		font-family: Arial
		font-size: 14px
		font-weight: 400
		line-height: 1.2

.dop-obr
  h2

.slider2
  padding-bottom: 30px
  .slider1-img
    width: 182px
    height: 182px
    padding: 2px
    border: 2px solid
    border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1     
    overflow: hidden    
    border-radius: 0px 
  .slider1-text
    .dol
      margin-top: 12px
      height: auto

.outer-img
  width: 182px
  height: 182px  
  border-radius: 5px
  overflow: hidden

.slider2
  position: relative
  &:after
    @extend .separ-hor

.about.dreams
  overflow: hidden
  padding-bottom: 40px
  h2
    margin-top: 0
    line-height: 1.4

.dreams-blocks
  margin-top: 42px
  li
    width: 50%
    float: left
    padding: 0 10px
    margin-bottom: 40px
    &:nth-last-child(1)
      margin-bottom: 0
    &:nth-last-child(2)
      margin-bottom: 0
    a
      font-family: FiraSans
      font-size: 18px   
      text-decoration: none
    &:first-child
      a
        color: rgb(51, 172, 196)
    &:nth-child(2)
      a
        color: rgb(246, 104, 144)
    &:nth-child(3)
      a
        color: rgb(250, 105, 0)
    &:nth-child(4)
      a
        color: rgb(102, 153, 0)
    &:nth-child(5)
      a
        color: rgb(255, 78, 80)
    &:nth-child(6)
      a
        color: rgb(255, 153, 0)
        
    span      
      font-family: FiraSans
      font-size: 18px      
      line-height: 1.4
      display: block      
      text-transform: uppercase

.dreams
  position: relative
  &:after
    @extend .separ-hor

.dreams-name
  margin-top: 17px

.events
  padding: 0 25px
  padding-bottom: 40px
  li
    margin-bottom: 15px
    overflow: hidden
    &:last-child
      margin-bottom: 0

.events-img
  float: left
  margin-right: 15px
  a   
    display: block
    width: 125px
    height: 125px   
    border-radius: 4px
    overflow: hidden
    img      
      border: 4px solid
      border-image: linear-gradient(to right bottom, #f1ee34 0%, #ff6900 100%) 1 1 1 1 
      border-radius: 5px
      overflow: hidden
    
.events-title
  color: rgb(63, 63, 63)
  font-family: FiraSans
  font-size: 16px  
  line-height: 1.5
  text-decoration: none
  padding-bottom: 0px
  border-bottom: 1px solid #9f9f9f  
  &:hover
    border-bottom: none
  
.events-desc
  margin-top: 12px
  color: rgb(133, 132, 132)
  font-family: Arial
  font-size: 14px  
  line-height: 1.5

.events-date
  color: rgb(133, 132, 132)
  font-family: Arial
  font-size: 14px
  font-weight: 400
  display: block
  margin-top: 10px
  text-align: center

.reviews
  display: table
  background-image: linear-gradient(to top, rgb(254, 144, 63) 0%, rgb(242, 237, 65) 100%)
  overflow: hidden
  padding: 35px 15px 25px 25px
  li
    display: table-row
    margin-bottom: 20px
    > div
      padding-bottom: 20px
    &:last-child
      > div
        padding-bottom: 0
  h2
    margin-top: 0
    margin-bottom: 30px

.reviews-img
  float: left
  padding-right: 15px
  display: table-cell
  vertical-align: top

.reviews-text
  display: table-cell
  vertical-align: top

.reviews-title
  border-bottom: none
  color: rgb(18, 18, 18)
  font-family: FiraSansM
  font-size: 21px
  text-transform: none
  margin-bottom: 15px

.reviews-desc
  color: rgb(29, 29, 29)
  font-family: Arial
  font-size: 14px
  line-height: 1.5

.reviews-date
  text-align: left
  @extend .events-date

.view-other
  display: block
  padding: 20px 0
  background-color: rgb(244, 225, 65)
  color: rgb(18, 18, 18)
  font-family: FiraSansM
  font-size: 21px
  text-decoration: none
  text-align: center
  line-height: 1
  text-align: center
  span        
    height: 28px
    margin: auto
    text-align: center
    line-height: 1.55
    display: inline-block    
    position: relative
    border-bottom: 2px solid
    padding-bottom: 0
    &:hover
      border-bottom: none
    &:after
      content: "" 
      display: block
      background: url("../img/view-other.png") no-repeat 0 0
      height: 33px
      width: 33px
      position: absolute
      left: -40px
      top: 0

.projects
  padding: 35px 16px 15px 16px
  overflow: hidden
  h2
    margin-top: 0
  li
    float: left
    width: 208px
    margin: 0 8px
    margin-bottom: 10px
  .proj-link-img
    position: relative
    display: block
    text-decoration: none
    font-size: 0
    img
      font-size: 0
  .proj-title
    position: absolute
    left: 10px
    top: 10px
    display: inline-block
    z-index: 10
    color: rgb(6, 6, 6)
    font-family: FiraSans
    font-size: 18px
    line-height: 1.2
    text-transform: uppercase 
    width: 100px    
    span
      padding: 3px    
      background-color: #FFF 

.proj-desc
  display: block
  background-color: rgb(241, 241, 241)
  color: rgb(33, 33, 33)
  font-family: Arial
  font-size: 14px
  line-height: 1.5
  text-decoration: none
  padding: 15px
  text-align: center
  min-height: 180px 
  
.cart 
  position: relative

.cart-adress
  width: 192px
  min-height: 162px
  background-color: white
  padding: 20px 15px
  top: 80px
  left: 50px
  position: absolute
  color: rgb(6, 6, 6)
  font-family: FiraSans
  font-size: 14px
  b
    font-size: 28px
    font-family: FiraSansM
    line-height: 1
  p
    margin-bottom: 10px 
    line-height: 1.6
    &:last-child
      margin-bottom: 0
  .cart-phone
    display: block
    margin-top: 7px
  
.footer
  > div
    float: left  

.button-copy
  width: 225px

.phone-email-links
  width: calc(100% - 225px) 






























/*input[type=submit]*/


@import _media